[package]
name = "cantus"
version = "0.1.0"
edition = "2024"

[dependencies]
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.20", features = ["env-filter"] }
dotenvy = "0.15.7"
tokio = { version = "1.48.0", features = ["macros", "rt-multi-thread"] }
raw-window-handle = "0.6.2"
wayland-backend = { version = "0.3.11", features = ["client_system"] }
wayland-client = { version = "0.31.11", default-features = false }
wayland-protocols = { version = "0.32", features = ["client", "staging"] }
wayland-protocols-wlr = { version = "0.3.9", features = ["client"] }
wgpu = { version = "26.0.1", default-features = false, features = [
    "parking_lot",
    "std",
    "vulkan",
    "wgsl",
] }
vello = { version = "0.6.0", default-features = false, features = ["wgpu"] }
vello_svg = { version = "0.8.0", default-features = false }
parley = "0.6.0"
rspotify = { version = "0.15.2", default-features = false, features = [
    "client-reqwest",
    "reqwest-rustls-tls",
    "cli",
] }
chrono = { version = "0.4.42", default-features = false }
zbus = { version = "5.12.0", default-features = false, features = ["tokio"] }
image = { version = "0.25.8", default-features = false, features = [
    "jpeg",
    "png",
] }
auto-palette = "0.9.2"
anyhow = "1.0.100"
rand = { version = "0.9.2", features = ["small_rng"] }
pollster = "0.4.0"
parking_lot = "0.12.5"
dashmap = "6.1.0"
reqwest = { version = "0.12.24", default-features = false, features = [
    "rustls-tls",
] }
bytemuck = { version = "1.24.0", features = ["derive"] }
orx-parallel = "3.4.0"
futures = "0.3.31"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
itertools = "0.14.0"
dirs = "6.0.0"

[lints.clippy]
pedantic = { level = "warn", priority = -1 }
nursery = { level = "warn", priority = -1 }
too-many-lines = "allow"
too-many-arguments = "allow"
cast-possible-truncation = "allow"
cast-precision-loss = "allow"
cast-sign-loss = "allow"
suboptimal_flops = "allow"
cognitive-complexity = "allow"

separated_literal_suffix = "warn"
wildcard_enum_match_arm = "warn"
renamed_function_params = "warn"
str_to_string = "warn"
if_then_some_else_none = "warn"
redundant-type-annotations = "warn"

[profile.release]
opt-level = 3
lto = true
strip = true
panic = "abort"

[profile.dev.package."*"]
opt-level = 2
